  /* Menu */

nav{
      background-color: #447cad;
    }

    nav ul li a{
      color:white;
    }
    nav ul li a:hover{
      color:#44c767;
    }

    #campo_buscarTitulo{
      width: 210px;
    }

    .boton_buscarPerfil {
      background-color: #44c767;
      border-radius: 13px;
      border: 2px solid #78cc80;
      display: inline-block;
      cursor: pointer;
      color:#ffffff;
      font-family: Arial;
      font-size: 15px;
      padding: 3px 19px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #2f6627;
    }

    .boton_buscarPerfil:hover {
      background-color:#5cbf2a;
    }

    .boton_buscarPerfil:active {
      position:relative;
      top:1px;
    }

    .formulario_buscarPerfil{
      position: relative;
      left: 98px;
    }

    .ui-autocomplete-row, .ui-autocomplete-row:hover{
      padding:8px;
      background-color: #f4f4f4;
      border-bottom:1px solid #ccc;
      font-weight:bold;
    }

    .boton_desplegable{
      border: 1px solid;
      color: black;
      width: 200px;
      background-color: white;
    }
    .boton_desplegable:hover{
      background-color: white;
    }
    .boton_desplegable span{
      color: black;
    }
    .menu_opciones{
      width:200px;
      text-align: center;
      font-size: 17px
    }

    .dropdown ul li a{
      color: black;
    }
    .logotipo_menu{
      margin-top: -11px;
      width: 145px;
    }

    @media screen and (max-width: 976px) {
      .navbar-toggler {
        background-color: white;
      }

      .formulario_buscarPerfil{
        position: relative;
        left: 0px;
      }
      .boton_desplegable{
        position: relative;
        left: 0px;
      }
      .boton_buscarPerfil{
        width: 100%;
        margin-bottom: 26px;
      }
      #campo_buscarTitulo{
        width: 100%;
      }
      .navbar-nav .dropdown-menu{
        width: 100%;
      }
      .btn-secondary.dropdown-toggle{
        width: 100%;
        margin-top: -16px;
      }

      .navbar-nav{
        letter-spacing: 2px;
      }
    }

  /*
    Pagina
  */

  body{
    background-image: url(../imagenes/varios/imagen_fondo.jpg);
    background-position: center top;
    background-repeat: repeat;
  }

  .container{
      width: 100%;
      border: 1px solid #A0A0A0;
      border-collapse: separate;
      border-spacing: 0;
      background: #ffffff;
      cursor: auto;
      box-shadow: 0 0 20px rgba(90, 90, 90, 0.75);
  }

  .jc-bs3-container{
    border: none;
    background: none;
    box-shadow: none;
  }

  .titulo_panelAdministracion{
    margin-top: 24px;
  }

  .opciones_disponibles img{
    margin-bottom: 20px;
  }

  @media screen and (max-width: 976px){

      .titulo_panelAdministracion{
        margin-bottom: 40px;
      }

      .opciones_administracion img {
        margin-bottom: 40px;
      }

      
      
  }

  tbody{
    background: silver;
  }

  tbody tr:hover{
    background: cornsilk;
  }

  .card-body{
    padding: 0em;
  }

  .table-responsive{
    margin-bottom: -15px;
  }

  .advertencia{
    text-align: justify;
  }

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
  }


  /* El resto de contenido se basa en tablas responsives, 
  llegado un determinado número de pixeles la tabla se 
  transforma y reemplaza el contenido con el contenido
  especificado aqui en el css */

  input[type="text"],input[type="number"],input[type="email"],input[type="password"],input[type="file"],input[type="url"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
  }

  .table tr th.informacion{
    text-align: center;
  }

    /* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_perfil { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_perfil tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_perfil th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_perfil td, .tabla_perfil th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_perfil, .tabla_perfil thead, .tabla_perfil tbody, .tabla_perfil th, .tabla_perfil td, .tabla_perfil tr { 
    display: block; 
  }
  .tabla_perfil thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_perfil tr { border: 1px solid #ccc; }
  .tabla_perfil td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_perfil td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_perfil td:nth-of-type(1):before { content: "Usuario"; }
  .tabla_perfil td:nth-of-type(2):before { content: "Nombre"; }
  .tabla_perfil td:nth-of-type(3):before { content: "Apellidos"; }
  .tabla_perfil td:nth-of-type(4):before { content: "Dni"; }
  .tabla_perfil td:nth-of-type(5):before { content: "Edad"; }
  .tabla_perfil td:nth-of-type(6):before { content: "Rol"; }
  .tabla_perfil td:nth-of-type(7):before { content: "Correo"; }
}

/* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_registro { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_registro tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_registro th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_registro td, .tabla_registro th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_registro, .tabla_registro thead, .tabla_registro tbody, .tabla_registro th, .tabla_registro td, .tabla_registro tr { 
    display: block; 
  }
  .tabla_registro thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_registro tr { border: 1px solid #ccc; }
  .tabla_registro td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_registro td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_registro td:nth-of-type(1):before { content: "Usuario"; }
  .tabla_registro td:nth-of-type(2):before { content: "Rol"; }
  .tabla_registro td:nth-of-type(3):before { content: "Nombre"; }
  .tabla_registro td:nth-of-type(4):before { content: "Apellidos"; }
  .tabla_registro td:nth-of-type(5):before { content: "Dni"; }
  .tabla_registro td:nth-of-type(6):before { content: "Edad"; }
  .tabla_registro td:nth-of-type(7):before { content: "Correo"; }
  .tabla_registro td:nth-of-type(8):before { content: "contraseña"; }
  .tabla_registro td:nth-of-type(9):before { content: "sexo"; }

}

/* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_registro_peliculas { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_registro_peliculas tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_registro_peliculas th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_registro_peliculas td, .tabla_registro_peliculas th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_registro_peliculas, .tabla_registro_peliculas thead, .tabla_registro_peliculas tbody, .tabla_registro_peliculas th, .tabla_registro_peliculas td, .tabla_registro_peliculas tr { 
    display: block; 
  }
  .tabla_registro_peliculas thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_registro_peliculas tr { border: 1px solid #ccc; }
  .tabla_registro_peliculas td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_registro_peliculas td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_registro_peliculas td:nth-of-type(1):before { content: "Titulo"; }
  .tabla_registro_peliculas td:nth-of-type(2):before { content: "Año"; }
  .tabla_registro_peliculas td:nth-of-type(3):before { content: "Pais"; }
  .tabla_registro_peliculas td:nth-of-type(4):before { content: "Genero"; }
  .tabla_registro_peliculas td:nth-of-type(5):before { content: "Duración"; }
  .tabla_registro_peliculas td:nth-of-type(6):before { content: "Calificacion"; }
  .tabla_registro_peliculas td:nth-of-type(7):before { content: "Fecha estreno "; }
  .tabla_registro_peliculas td:nth-of-type(8):before { content: "Foto Cartelera "; }
  .tabla_registro_peliculas td:nth-of-type(9):before { content: "Trailer URL (embed) "; }
  .tabla_registro_peliculas td:nth-of-type(10):before { content: "Sinopsis"; }

}

/* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_perfil_peliculas { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_perfil_peliculas tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_perfil_peliculas th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_perfil_peliculas td, .tabla_perfil_peliculas th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_perfil_peliculas, .tabla_perfil_peliculas thead, .tabla_perfil_peliculas tbody, .tabla_perfil_peliculas th, .tabla_perfil_peliculas td, .tabla_perfil_peliculas tr { 
    display: block; 
  }
  .tabla_perfil_peliculas thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_perfil_peliculas tr { border: 1px solid #ccc; }
  .tabla_perfil_peliculas td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_perfil_peliculas td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_perfil_peliculas td:nth-of-type(1):before { content: "Titulo"; }
  .tabla_perfil_peliculas td:nth-of-type(2):before { content: "Año"; }
  .tabla_perfil_peliculas td:nth-of-type(3):before { content: "Pais"; }
  .tabla_perfil_peliculas td:nth-of-type(4):before { content: "Genero"; }
  .tabla_perfil_peliculas td:nth-of-type(5):before { content: "Duración"; }
  .tabla_perfil_peliculas td:nth-of-type(6):before { content: "Calificacion"; }
  .tabla_perfil_peliculas td:nth-of-type(7):before { content: "Fecha estreno "; }
  .tabla_perfil_peliculas td:nth-of-type(8):before { content: "Trailer URL (embed) "; }
  .tabla_perfil_peliculas td:nth-of-type(9):before { content: "Sinopsis"; }

}

  /* SCROLL LATERAL TABLAS */
  /* LAS OPCIONES DE ADMINISTRACION ES COMPLICADA HACERLA RESPONSIVE, POR LA CANTIDAD
     DE INFORMACIÓN CON LA QUE TRABAJA, AUN ASI HE HABILITADO EL SCROLL LATERAL EN
     TODAS LAS TABLAS. ALGO ES ALGO */

  .dtHorizontalExampleWrapper {
max-width: 600px;
margin: 0 auto;
}
#dtHorizontalExample th, td {
white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

/* SCROLL PELICULAS */

.my-custom-scrollbar {
position: relative;
height: 360px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

/* CARTELERA */

  .expositor_cartelera{
    padding-bottom: 40px;
  }

  .tabla_perfil_cartelera { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_perfil_cartelera tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_perfil_cartelera th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_perfil_cartelera td, .tabla_perfil_cartelera th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_perfil_cartelera, .tabla_perfil_cartelera thead, .tabla_perfil_cartelera tbody, .tabla_perfil_cartelera th, .tabla_perfil_cartelera td, .tabla_perfil_cartelera tr { 
    display: block; 
  }
  .tabla_perfil_cartelera thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_perfil_cartelera tr { border: 1px solid #ccc; }
  .tabla_perfil_cartelera td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_perfil_cartelera td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_perfil_cartelera td:nth-of-type(1):before { content: "Titulo Pelicula"; }
  .tabla_perfil_cartelera td:nth-of-type(2):before { content: "Salas donde se estrena"; }
  .tabla_perfil_cartelera td:nth-of-type(3):before { content: "Tarifas aplicadas en las diferentes salas"; }
  .tabla_perfil_cartelera td:nth-of-type(4):before { content: "Horas estreno a lo largo del dia"; }
}


/* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_registro_pelicartelera { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_registro_pelicartelera tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_registro_pelicartelera th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_registro_pelicartelera td, .tabla_registro_pelicartelera th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_registro_pelicartelera, .tabla_registro_pelicartelera thead, .tabla_registro_pelicartelera tbody, .tabla_registro_pelicartelera th, .tabla_registro_pelicartelera td, .tabla_registro_pelicartelera tr { 
    display: block; 
  }
  .tabla_registro_pelicartelera thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_registro_pelicartelera tr { border: 1px solid #ccc; }
  .tabla_registro_pelicartelera td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_registro_pelicartelera td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_registro_pelicartelera td:nth-of-type(1):before { content: "Pelicula"; }
  .tabla_registro_pelicartelera td:nth-of-type(2):before { content: "Sala"; }
  .tabla_registro_pelicartelera td:nth-of-type(3):before { content: "Tarifa"; }
  .tabla_registro_pelicartelera td:nth-of-type(4):before { content: "Dia"; }
  .tabla_registro_pelicartelera td:nth-of-type(5):before { content: "Hora"; }
}


/* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_eliminar_pelicula { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_eliminar_pelicula tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_eliminar_pelicula th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_eliminar_pelicula td, .tabla_eliminar_pelicula th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_eliminar_pelicula, .tabla_eliminar_pelicula thead, .tabla_eliminar_pelicula tbody, .tabla_eliminar_pelicula th, .tabla_eliminar_pelicula td, .tabla_eliminar_pelicula tr { 
    display: block; 
  }
  .tabla_eliminar_pelicula thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_eliminar_pelicula tr { border: 1px solid #ccc; }
  .tabla_eliminar_pelicula td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_eliminar_pelicula td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_eliminar_pelicula td:nth-of-type(1):before { content: "Pelicula"; }
}


/* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_eliminar_usuario { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_eliminar_usuario tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_eliminar_usuario th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_eliminar_usuario td, .tabla_eliminar_usuario th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_eliminar_usuario, .tabla_eliminar_usuario thead, .tabla_eliminar_usuario tbody, .tabla_eliminar_usuario th, .tabla_eliminar_usuario td, .tabla_eliminar_usuario tr { 
    display: block; 
  }
  .tabla_eliminar_pelicula thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_eliminar_usuario tr { border: 1px solid #ccc; }
  .tabla_eliminar_usuario td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_eliminar_usuario td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_eliminar_usuario td:nth-of-type(1):before { content: "Usuario"; }
}

/* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_eliminar_tarifa { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_eliminar_tarifa tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_eliminar_tarifa th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_eliminar_tarifa td, .tabla_eliminar_tarifa th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_eliminar_tarifa, .tabla_eliminar_tarifa thead, .tabla_eliminar_tarifa tbody, .tabla_eliminar_tarifa th, .tabla_eliminar_tarifa td, .tabla_eliminar_tarifa tr { 
    display: block; 
  }
  .tabla_eliminar_pelicula thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_eliminar_tarifa tr { border: 1px solid #ccc; }
  .tabla_eliminar_tarifa td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_eliminar_tarifa td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_eliminar_tarifa td:nth-of-type(1):before { content: "Tarifa"; }
}



  /* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_registro_tarifa { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_registro_tarifa tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_registro_tarifa th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_registro_tarifa td, .tabla_registro_tarifa th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_registro_tarifa, .tabla_registro_tarifa thead, .tabla_registro_tarifa tbody, .tabla_registro_tarifa th, .tabla_registro_tarifa td, .tabla_registro_tarifa tr { 
    display: block; 
  }
  .tabla_registro_tarifa thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_registro_tarifa tr { border: 1px solid #ccc; }
  .tabla_registro_tarifa td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_registro_tarifa td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_registro_tarifa td:nth-of-type(1):before { content: "Nombre Tarifa"; }
  .tabla_registro_tarifa td:nth-of-type(2):before { content: "Precio"; }
  .tabla_registro_tarifa td:nth-of-type(3):before { content: "Descripción"; }
}

  /* CONCEPTO DE TABLA RESPONSIVA, SE TRANSFORMA EN VISTA
  MOVILES, PASANDO DE SER UNA TABLA A UNA LISTA APAISADA */
  .tabla_perfil_tarifa { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
  .tabla_perfil_tarifa tr:nth-of-type(odd) { 
  background: #eee; 
  }
  .tabla_perfil_tarifa th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .tabla_perfil_tarifa td, .tabla_perfil_tarifa th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

@media only screen and (max-width: 2000px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .tabla_perfil_tarifa, .tabla_perfil_tarifa thead, .tabla_perfil_tarifa tbody, .tabla_perfil_tarifa th, .tabla_perfil_tarifa td, .tabla_perfil_tarifa tr { 
    display: block; 
  }
  .tabla_perfil_tarifa thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tabla_perfil_tarifa tr { border: 1px solid #ccc; }
  .tabla_perfil_tarifa td { 
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .tabla_perfil_tarifa td:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  .tabla_perfil_tarifa td:nth-of-type(1):before { content: "Nombre Tarifa"; }
  .tabla_perfil_tarifa td:nth-of-type(2):before { content: "Precio"; }
  .tabla_perfil_tarifa td:nth-of-type(3):before { content: "Descripción"; }
}



/* footer */

.autor{
  margin-top:20px;
  margin-bottom:10px;
}

footer#pie_pagina{
  padding:20px 0 10px;
  max-width:1200px;
  margin:0 auto;
  display:block;
  clear:both;
  background:#161f22;
}


footer#pie_pagina #inner-footer {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  position: relative;
}

footer#pie_pagina #inner-footer h2 {
  text-align: center;
  font-size: 20px;
  width: 100%;
  font-family: Oswald,helvetica,arial,sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-shadow: none;
}


footer#pie_pagina #inner-footer .copyright,footer#pie_pagina #inner-footer .copyright p {
  font-family: 'Helvetica Neue',Verdana,'Lucida Grande',Arial,sans-serif;
  color: #666;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 1.25em;
}

footer#pie_pagina{
  margin-left: -16px;
  margin-right: -16px;
}